.navbar a img {
    width: 50px;
    height: 50px;
}

.header{
    width:100%;
    height: 67px;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 100;
    opacity: 90%;
}

.pl{
        width: 500px;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space: nowrap;/*加宽度width属来兼容部分浏览*/
    }

.dropdown-menu.pull-right {
	right: 0;
	left: auto;
}

.finder__input {

  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
}
