<!--所有问题浏览页面 黄海石，邵宇-->
<!DOCTYP html >

<html>
<head>
	<meta charset="utf-8">
	<title>所有问题页面</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>


    <style type="text/css">
 body {background-size: 80%; }

.all{ max-width: 1500px; margin: 0 auto; }
.tt{padding:10px;  background-color: #ccffcc;  vertical-align: middle; }

a:link{text-decoration:none; color: #CC0000;}


</style>
</head>

{% extends 'base.html' %}
{% load static %}
{% block title %}个人主页{% endblock %}
{% block link_before %}
    <link href="{% static 'bootstrap-combined.min.css' %}" rel="stylesheet">
{% endblock %}
    <!--内含多种功能的css-->
{% block link_after %}
    <link href="{% static 'layoutit.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}




<body>
<div class="all">
<div class="tt">
    <h1> 所有问题页面</h1>
</div>

<table class="table table-bordered">
	<caption>ALL QUESTIONS</caption>
	<thead>
		<tr>
			<th>
             <div class="btn-group">
	<button type="button" class="btn btn-default">所属科目</button>
	<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
		<span class="caret"></span>
		<span class="sr-only">切换下拉菜单</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#">功能</a></li>
		<li><a href="#">另一个功能</a></li>
		<li><a href="#">其他</a></li>
		<li class="divider"></li>
		<li><a href="#">分离的链接</a></li>
	</ul>
</div>
            </th>
			<th>
                <div class="btn-group">
	<button type="button" class="btn btn-default">创建时间</button>
	<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
		<span class="caret"></span>
		<span class="sr-only">切换下拉菜单</span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="#">功能</a></li>
		<li><a href="#">另一个功能</a></li>
		<li><a href="#">其他</a></li>
		<li class="divider"></li>
		<li><a href="#">分离的链接</a></li>
	</ul>
</div>
            </th>
			<th>内容</th>
		</tr>
	</thead>

	<tbody>
     {% if all_question_list %}

     {% for question in all_question_list %}

     <tr>
         <th>{{ question.question_subject }} <br> </th>
         <th>{{ question.pub_date }}<br> </th>
     <th> <a href="/qas_system/question/{{ question.id }}/">{{ question.question_title }}<br></a> </th>


     </tr>

                {% endfor %}

                {% else %}

      {% endif %}
	</tbody>

</table>
<p>
    <button type="button" class="btn btn-default btn-lg "><a href="/qas_system/" , target="_self">返回主页</a></button>

</p>


</div>
</body>

{% endblock %}

</html>


































