<!--header导航 栏部分
author: 汤峻侬
-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1588522133946&di=c1bc4533579c7b905c5bc9a6ae6ca224&imgtype=0&src=http%3A%2F%2F5b0988e595225.cdn.sohucs.com%2Fimages%2F20180629%2F078f42b7fbb548c1ae7b961ff67dcce1.jpeg" alt="sjtu"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/qas_system/all_question">主页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/qas_system/createq">发帖</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">反馈</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          个人中心
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/qas_system/personal_page">个人资料</a>
          <a class="dropdown-item" href="#">我的关注</a>
          <a class="dropdown-item" href="#">我的回答</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">其他</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">管理员入口</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/qas_system/search_keyword/" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="javascrtpt:window.location.href='/qas_system/search_keyword' ">搜索</button>
    </form>
  </div>
</nav>