<!--用户参与的讨论页面 黄海石-->
<h4>您的提问</h4>
{% if my_ask %}
    <ul>
    {% for question in my_ask %}
        <li><a href="/qas_system/question/{{ question.id }}/">{{ question.question_title }}</a></li>
        {{ question.pub_date }}<br>
        {{ question.question_subject }}
        <p></p>
    {% endfor %}
    </ul>
{% else %}
    <p>您还没有提问过</p>
{% endif %}
<h4>您的回答/评论</h4>
{% if my_answer_detail %}
    <ul>
    {% for comment in my_answer_detail %}
        <li><a href="/qas_system/question/{{ comment.question.id }}/">{{ comment.question.question_title }}</a></li>
        <p>您在该问题下回答/评论了：</p>
        {{ comment.comment_text }}
        <p></p>
    {% endfor %}
    </ul>
{% else %}
    <p>您还没有回答过</p>
{% endif %}
<a href="/qas_system/", target="_self">返回主页</a>