<!--
模拟主页，只有一个创建新问题的功能键
author：郦洋
-->
<!--
加了 前往浏览所有问题页面和问题筛选页面的链接 黄海石
-->
<!--
加了 按科目搜索问题页面和按关键词搜索问题页面 尹俊同
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/qas_system/createq/">
        {% csrf_token %}
        <input type="submit" value="create a new question" />
    </form>

    <p></p>
    <a href="/qas_system/all_question/", target="_self">浏览所有问题</a>
    <p></p>
    <a href="/qas_system/select/", target="_self">前往问题筛选页面</a>
    <p></p>
    <a href="/qas_system/search/", target="_self">前往搜索问题页面</a>
    <p></p>
    <a href="/qas_system/userpage/", target="_self">前往个人主页</a>

</body>
</html>